.card {
    margin-bottom: 20px; /* Espace entre les cartes */
  }
  
  .card-title {
    font-size: 1.2em; /* Taille de police pour les titres */
  }
  
  .card-text {
    font-weight: bold; /* Style pour les nombres */
  }
  