<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Projet(s) en cours de préparation</p>
            <span class="card-text">{{ notStarted }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Projet(s) en cours</p>
            <span class="card-text">{{ inProgress }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Projet(s) terminés</p>
            <span class="card-text">{{ completed }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Projet(s) en attente</p>
            <span class="card-text">{{ onHold }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  